<!DOCTYPE html>
<html ng-app="bgl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angularapp")

</head>
<body>
    <div class="container body-content" ng-controller="MainController">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MVC exercise</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
